*{
    margin: 0;
    padding: 0;
    border: 0;
}

ion-content{
    background: linear-gradient(to left, #3d002e, #410427);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-button{
    padding: 5px;
}

ion-button:hover{
    transform: scale(1.2);
    transition: transform 300ms;
    //transform: rotate(calc(360 * 100deg));
}


