*{
    margin: 0;
    padding: 0;
    border: 0;
}

ion-button{
    padding: 5px;
}

ion-button:hover{
    transform: scale(1.2);
    transition: transform 300ms;
    //transform: rotate(calc(360 * 100deg));
}
    
ion-avatar{
    margin-right: 10px;
}

ion-thumbnail{
    padding-right: 10px;
}

.espaco{
    padding-top: 10px;

}

ion-title{
    text-align: center;
}

ion-list-header{
    text-align: center;
    font-size: 20px;
}